class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.bigint :consecutive_locks, default: 0, null: false unless column_exists?(:<%= table_name %>, :consecutive_locks)
      t.integer :failed_attempts, default: 0, null: false unless column_exists?(:<%= table_name %>, :failed_attempts)
      t.datetime :locked_at unless column_exists?(:<%= table_name %>, :locked_at)
      t.index :locked_at unless index_exists?(:<%= table_name %>, :locked_at)
    end
  end
end
