class AddAuthSessionVersionTo<%= model_table(@account_class).camelize %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= model_table(@account_class) %> do |t|
      t.bigint :auth_session_version, default: 0, null: false unless column_exists?(:<%= model_table(@account_class) %>, :auth_session_version)
    end
  end
end
