class <%= @controller_class %> < Vouch::<%= @controller_base %>
<% unless @controller_class.deconstantize.underscore.split("/").last.singularize == @controller_route_scope.to_s -%>
  auth_scope :<%= @controller_route_scope %>
<% end -%>
<% if @controller_base == "RegistrationsController" && @tenant_class -%>

  private

  def build_tenant(_account)
    <%= model_metadata(@tenant_class).class_name %>.new(params.require(:<%= @tenant_param_key %>).permit(:name))
  end
<% end -%>
<% if @account_registration -%>

  private

  def build_identity(account, tenant: nil)
    <%= @identity_class %>.new(<%= model_association(@account_class) %>: account<%= ", #{model_association(@tenant_class)}: tenant" if @tenant_class %>)
  end
<% end -%>
end
