class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    create_table :<%= model_table(@identity_class) %><%= ", id: :#{primary_key_type}" if primary_key_type %> do |t|
      t.references :<%= model_association(@account_class) %>, null: false, index: { name: "<%= index_name(model_table(@identity_class), "#{model_association(@account_class)}_id") %>" }, foreign_key: { to_table: :<%= model_table(@account_class) %> }<%= ", type: :#{primary_key_type}" if primary_key_type %>
<% if @tenant_class -%>
      t.references :<%= model_association(@tenant_class) %>, null: false, index: { name: "<%= index_name(model_table(@identity_class), "#{model_association(@tenant_class)}_id") %>" }, foreign_key: { to_table: :<%= model_table(@tenant_class) %> }<%= ", type: :#{primary_key_type}" if primary_key_type %>
<% end -%>
      t.timestamps
    end
  end
end
