class <%= @tenant_class %> < ApplicationRecord
  self.table_name = "<%= model_table(@tenant_class) %>"
  has_many :<%= model_association(@identity_class).pluralize %>, class_name: "<%= @identity_class %>", <%= model_has_many_options(@tenant_class) %>
end
