class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    create_table :<%= join_table_name %><%= ", id: :#{primary_key_type}" if primary_key_type %> do |t|
<% parent_metadata.primary_keys.zip(parent_metadata.foreign_keys(parent_singular)).each do |key, foreign| -%>
<% if parent_metadata.primary_keys == ["id"] -%>
      t.references :<%= parent_singular %>, null: false, type: :<%= primary_key_type || parent_metadata.primary_key_types[key] %>, foreign_key: {to_table: :<%= parent_metadata.table_name %>}
<% else -%>
      t.<%= primary_key_type || parent_metadata.primary_key_types[key] %> :<%= foreign %>, null: false
<% end -%>
<% end -%>
      t.string :code_digest, null: false
      t.datetime :used_at
      t.timestamps
      t.index :used_at
<% unless parent_metadata.primary_keys == ["id"] -%>
      t.index <%= parent_metadata.foreign_keys(parent_singular).inspect %>
      t.foreign_key :<%= parent_metadata.table_name %>, column: <%= parent_metadata.foreign_keys(parent_singular).one? ? parent_metadata.foreign_keys(parent_singular).first.to_sym.inspect : parent_metadata.foreign_keys(parent_singular).inspect %>, primary_key: <%= parent_metadata.primary_keys.one? ? parent_metadata.primary_keys.first.to_sym.inspect : parent_metadata.primary_keys.inspect %>
<% end -%>
    end
  end
end
