class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.string :sign_in_nonce unless column_exists?(:<%= table_name %>, :sign_in_nonce)
      t.bigint :sign_in_attempts, default: 0, null: false unless column_exists?(:<%= table_name %>, :sign_in_attempts)
      t.datetime :sign_in_locked_at unless column_exists?(:<%= table_name %>, :sign_in_locked_at)
    end
  end
end
