Rails.application.config.middleware.use OmniAuth::Builder do
  provider :<%= options[:provider] %>,
<% if Gem::Version.new(Rails::VERSION::STRING) >= Gem::Version.new("8.2.0") -%>
    Rails.app.creds.require(:<%= options[:provider] %>, :client_id),
    Rails.app.creds.require(:<%= options[:provider] %>, :client_secret),
<% else -%>
    Rails.application.credentials.dig(:<%= options[:provider] %>, :client_id),
    Rails.application.credentials.dig(:<%= options[:provider] %>, :client_secret),
<% end -%>
    path_prefix: "/<%= inferred_controller_path(owner_class, auth_scope_name) %>/auth"
end
