class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.string :password_reset_token_digest unless column_exists?(:<%= table_name %>, :password_reset_token_digest)
      t.datetime :password_reset_sent_at unless column_exists?(:<%= table_name %>, :password_reset_sent_at)
      t.index :password_reset_token_digest, unique: true unless index_exists?(:<%= table_name %>, :password_reset_token_digest)
    end
  end
end
