class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    add_column :<%= table_name %>, :password_reset_token_digest, :string unless column_exists?(:<%= table_name %>, :password_reset_token_digest)
    add_column :<%= table_name %>, :password_reset_sent_at, :datetime unless column_exists?(:<%= table_name %>, :password_reset_sent_at)
    add_index :<%= table_name %>, :password_reset_token_digest, unique: true unless index_exists?(:<%= table_name %>, :password_reset_token_digest)
  end
end
