class <%= controller_scope_path.camelize %>::PasswordResetsController < Vouch::PasswordResetsController
<% unless controller_scope_path.camelize.underscore.split("/").last.singularize == auth_scope_name.to_s -%>
  auth_scope :<%= auth_scope_name %>
<% end -%>

  on_password_reset_token_generation do |account, token|
    account.deliver_password_reset_token(token)
  end
end
