<h1>Choose a new password</h1>

<%% if @account.errors.any? %>
  <p role="alert"><%%= @account.errors.full_messages.to_sentence %></p>
<%% end %>

<%%= form_with url: <%= route_helper_prefix %>_password_reset_path, scope: :<%= account_param_key %>, method: :patch do |form| %>
  <%%= hidden_field_tag :token, params[:token] %>
  <p>
    <%%= form.label :password %>
    <%%= form.password_field :password, autocomplete: "new-password", required: true %>
  </p>
  <p>
    <%%= form.label :password_confirmation %>
    <%%= form.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </p>
  <%%= form.submit "Reset password" %>
<%% end %>
