class <%= controller_scope_path.camelize %>::PasswordsController < Vouch::PasswordsController
  auth_scope :<%= auth_scope_name %>

  on_password_reset_token_generation do |account, token|
    account.deliver_password_reset_token(token)
  end
end
