class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.datetime :verified_at
      t.string   :confirmation_nonce
    end
    add_index :<%= table_name %>, :verified_at
    add_index :<%= table_name %>, :confirmation_nonce, unique: true
  end
end
