class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.string :invitation_token unless column_exists?(:<%= table_name %>, :invitation_token)
      t.datetime :invitation_sent_at unless column_exists?(:<%= table_name %>, :invitation_sent_at)
      t.datetime :invitation_accepted_at unless column_exists?(:<%= table_name %>, :invitation_accepted_at)
<% model_metadata.primary_keys.zip(model_metadata.foreign_keys("inviter")).each do |key, foreign| -%>
<% unless model_metadata.primary_keys == ["id"] -%>
      t.<%= primary_key_type || model_metadata.primary_key_types[key] %> :<%= foreign %> unless column_exists?(:<%= table_name %>, :<%= foreign %>)
<% end -%>
<% end -%>
      t.index :invitation_token, unique: true unless index_exists?(:<%= table_name %>, :invitation_token)
<% if model_metadata.primary_keys == ["id"] -%>
      if column_exists?(:<%= table_name %>, :inviter_id)
        t.index :inviter_id unless index_exists?(:<%= table_name %>, :inviter_id)
        t.foreign_key :<%= table_name %>, column: :inviter_id unless foreign_key_exists?(:<%= table_name %>, :<%= table_name %>, column: :inviter_id)
      else
        t.references :inviter, type: :<%= primary_key_type || model_metadata.primary_key_types[model_metadata.primary_keys.first] %>, foreign_key: {to_table: :<%= table_name %>}
      end
<% else -%>
      t.index <%= model_metadata.foreign_keys("inviter").inspect %> unless index_exists?(:<%= table_name %>, <%= model_metadata.foreign_keys("inviter").inspect %>)
      t.foreign_key :<%= table_name %>, column: <%= model_metadata.foreign_keys("inviter").one? ? :inviter_id.inspect : model_metadata.foreign_keys("inviter").inspect %>, primary_key: <%= model_metadata.primary_keys.one? ? model_metadata.primary_keys.first.to_sym.inspect : model_metadata.primary_keys.inspect %> unless foreign_key_exists?(:<%= table_name %>, :<%= table_name %>, column: <%= model_metadata.foreign_keys("inviter").one? ? :inviter_id.inspect : model_metadata.foreign_keys("inviter").inspect %>)
<% end -%>
    end
  end
end
