class AddRegistrationRequiredTo<%= registration_table_name.camelize %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= registration_table_name %> do |t|
      t.boolean :registration_required, default: false, null: false unless column_exists?(:<%= registration_table_name %>, :registration_required)
    end
  end
end
