class <%= host_migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.bigint :recovery_attempts, default: 0, null: false unless column_exists?(:<%= table_name %>, :recovery_attempts)
      t.datetime :recovery_locked_at unless column_exists?(:<%= table_name %>, :recovery_locked_at)
    end
  end
end
