class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    create_table :password_archives<%= ", id: :#{primary_key_type}" if primary_key_type %> do |t|
      t.references :account, null: false, polymorphic: true<%= ", type: :#{primary_key_type}" if primary_key_type %>
      t.string     :password_digest, null: false
      t.datetime   :created_at, null: false
    end
    add_index :password_archives, [:account_type, :account_id, :created_at]
  end
end
