class PasswordArchive < ApplicationRecord
  include Vouch::PasswordArchive::Concern
  belongs_to :account<%= ", polymorphic: true" if polymorphic? %><%= ", class_name: \"#{model_metadata.class_name}\"" unless polymorphic? %><%= archive_owner_options unless polymorphic? %>
end
