class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    create_table :password_archives do |t|
<% if polymorphic? -%>
      t.references :account, polymorphic: true, null: false, type: :<%= primary_key_type || owner_primary_key_types.values.first %>
<% else -%>
<% owner_primary_keys.zip(model_metadata.foreign_keys("account")).each do |key, foreign| -%>
<% if owner_primary_keys == ["id"] -%>
      t.references :account, null: false, type: :<%= primary_key_type || owner_primary_key_types[key] %>, foreign_key: {to_table: :<%= model_metadata.table_name %>}
<% else -%>
      t.<%= primary_key_type || owner_primary_key_types[key] %> :<%= foreign %>, null: false
<% end -%>
<% end -%>
<% end -%>
      t.string :password_digest, null: false
      t.datetime :created_at, null: false
      t.index <%= archive_index_columns %>
<% unless polymorphic? -%>
<% unless owner_primary_keys == ["id"] -%>
      t.foreign_key :<%= model_metadata.table_name %>, column: <%= model_metadata.foreign_keys("account").one? ? :account_id.inspect : model_metadata.foreign_keys("account").inspect %>, primary_key: <%= owner_primary_keys.one? ? owner_primary_keys.first.to_sym.inspect : owner_primary_keys.inspect %>
<% end -%>
<% end -%>
    end
  end
end
