class <%= "AddTwoFactorEnabledTo#{Vouch::ModelMetadata.new(owner_model).table_name.camelize}" %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= Vouch::ModelMetadata.new(owner_model).table_name %> do |t|
      t.boolean :two_factor_enabled, default: false, null: false unless column_exists?(:<%= Vouch::ModelMetadata.new(owner_model).table_name %>, :two_factor_enabled)
    end
  end
end
