class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.string :two_factor_nonce unless column_exists?(:<%= table_name %>, :two_factor_nonce)
      t.datetime :two_factor_enabled_at unless column_exists?(:<%= table_name %>, :two_factor_enabled_at)
      t.bigint :two_factor_failed_attempts, default: 0, null: false unless column_exists?(:<%= table_name %>, :two_factor_failed_attempts)
      t.datetime :two_factor_locked_at unless column_exists?(:<%= table_name %>, :two_factor_locked_at)
      t.datetime :two_factor_last_used_at unless column_exists?(:<%= table_name %>, :two_factor_last_used_at)
      t.string :verification_nonce unless column_exists?(:<%= table_name %>, :verification_nonce)
      t.datetime :verified_at unless column_exists?(:<%= table_name %>, :verified_at)
      t.bigint :verification_version, default: 0, null: false unless column_exists?(:<%= table_name %>, :verification_version)
      t.bigint :verification_attempts, default: 0, null: false unless column_exists?(:<%= table_name %>, :verification_attempts)
      t.datetime :verification_locked_at unless column_exists?(:<%= table_name %>, :verification_locked_at)
      t.index :two_factor_enabled_at unless index_exists?(:<%= table_name %>, :two_factor_enabled_at)
      t.index :verified_at unless index_exists?(:<%= table_name %>, :verified_at)
    end
  end
end
