<h1>Enter verification code</h1>

<%% if flash[:alert] %>
  <p role="alert"><%%= flash[:alert] %></p>
<%% end %>

<%% credential_param = "#{@credential.model_name.singular}-#{@credential.to_param}" %>
<%%= form_with url: <%= auth_scope_name %>_two_factor_challenge_path(credential_param), method: :patch do %>
  <p>
    <%%= label_tag :code, "Verification code" %>
    <%%= text_field_tag :code, nil, autocomplete: "one-time-code", required: true %>
  </p>
  <%%= submit_tag "Verify" %>
<%% end %>

<%%= button_to "Send another code", send_code_<%= auth_scope_name %>_two_factor_challenge_path(credential_param), method: :post %>
