<h1>Choose a verification method</h1>

<ul>
  <%% @credentials.each do |credential| %>
    <%% credential_param = "#{credential.model_name.singular}-#{Vouch::RecordKey.to_param(credential)}" %>
    <li><%%= link_to credential.two_factor_label, <%= route_helper_prefix %>_two_factor_challenge_path(credential_param) %></li>
  <%% end %>
</ul>
