class <%= migration_class_name %> < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    change_table :<%= table_name %> do |t|
      t.string :two_factor_nonce
      t.datetime :two_factor_enabled_at
      t.bigint   :two_factor_failed_attempts, default: 0, null: false
      t.datetime :two_factor_locked_at
      t.datetime :two_factor_last_used_at
    end
    add_index :<%= table_name %>, :two_factor_enabled_at
  end
end
