<h1>Enroll a two-factor credential</h1>
<%% if @credential.errors.any? %>
  <p><%%= @credential.errors.full_messages.to_sentence %></p>
<%% end %>
<%% if @awaiting_verification %>
  <%%= form_with url: <%= route_helper_prefix %>_two_factor_credential_path(Vouch::RecordKey.to_param(@credential)), method: :patch do |form| %>
    <%%= form.label :code, "Verification code" %>
    <%%= form.text_field :code, required: true, autocomplete: "one-time-code" %>
    <%%= form.submit "Verify and enable" %>
  <%% end %>
<%% else %>
  <%%= form_with model: @credential, url: <%= route_helper_prefix %>_two_factor_credentials_path, method: :post do |form| %>
<% subject_attributes.each do |attribute| -%>
    <%%= form.label :<%= attribute %> %>
    <%%= form.text_field :<%= attribute %>, required: true %>
<% end -%>
    <%%= form.submit "Send verification code" %>
  <%% end %>
<%% end %>
