class <%= controller_class_name %> < Vouch::ImpersonationsController
<% unless scope.camelize.underscore.split("/").last.singularize == auth_scope_name.to_s -%>
  auth_scope :<%= auth_scope_name %>
<% end -%>

  private

  # The host must explicitly authorize impersonation.
  def authorize_impersonation!
    head :forbidden
  end
end
